<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li  class="active"><a href="javascript:void(0)" >My Account</a></li>
            <li><a href="javascript:void(0)" routerLink="/home">My Portfolio</a></li>
            <li ><a href="javascript:void(0)" routerLink="/market">Marketplace</a></li>
            <li><a href="#">Play</a></li>
        </ul>
    </div>
</nav>
<div class="container">
<h2>My Account</h2>
<div class="container" *ngIf="loggedInAccount">

        <div>First Name: {{loggedInAccount.customer.firstName}}</div>
        <div>Surname: {{loggedInAccount.customer.surname}}</div>
        <div>Account Type: {{loggedInAccount.accountType}}</div>
        <div>Date Opened: {{loggedInAccount.customer.dateOfBirth}}</div>
        <div>Current Balance: {{loggedInAccount.balance}} </div>
        
</div>

<div class="container">
    <h3>Account Top Up</h3>
    <div>{{errorMessage}}</div>
    <form>
      <div class="form-group">
        <label for="amount">amount</label>
        <input type="text" [(ngModel)]="payment.amount" name="amount" 
        class="form-control" id="payAmount" required>
      </div>

      <div class="form-group">
        <label for="Ref">Reference</label>
        <input type="text" [(ngModel)]="payment.referenceId" name="reference"
        class="form-control" id="ref">
      </div>

      <button type="submit" (click)="processPayment()" 
      class="btn btn-success">Submit</button>

    </form>



</div>


</div>